#languages-row {
  margin-top: 180px;
  width: 90%;

}

#languages {
  text-align: center;
  font-size: 2em;
  color: #a7cdcc;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

#carousel-container {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  border-radius: 5px;
}

#html-img, #css-img, #js-img, #jq-img, #bs-img, #node-img, #react-img, #mongo-img, #sql-img, #ex-img, #jest-img {
  margin-top: 70px;
}



