h3 {
    text-align: center;
    color: #a7cdcc;
    font-weight: bold;
    font-size: 2.4em;
    text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
}

h1 {
    text-align: center;
    color: #a7cdcc;
    font-weight: bolder;
    text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
}




.container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

