#button-row {
  margin-top: 185px;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}

#front-end,
#back-end,
#react,
#mern,
#all {
  background-color: rgba(167, 205, 204, 0.5);
  color: #555555;
  text-align: center;
}
