Form {
  margin-top: 185px;
  width: 50%;
}

/* .column {
  padding-top: 50px;
} */

/* .card {
  border-radius: 20px;
} */

#formName,
#formEmail,
#formTextArea {
  background-color: rgba(167, 205, 204, 0.5);
  color: #555555;
  box-shadow: none;
}

#formName:focus, #formEmail:focus, #formTextArea:focus {
  border-color: #555555;
}

#submit {
  background-color: rgba(167, 205, 204, 0.5);
  color: #555555;
}

#submit:hover {
  text-decoration: underline;
  background-color: #a7cdcc;
}

#submit:active {
  color: black;
}

#submit:visited {
  color: #555555;
}
