#weather-container {
  height: 350px;
  background-color: #999999;
  margin-top: 50px;
}

#current-weather {
  /* height: 80%; */
  text-align: center;
  justify-content: center;
  margin: auto; 
}

#five-day {
  width: 100%;
}

#day1, #day2, #day3, #day4, #day5 {
  /* padding: 5px; */
  justify-content: center;
  margin: auto; 
}


