.column {
  padding-top: 50px;
}

.card {
  border-radius: 20px;
}

#name,
#email,
#message {
  background-color: rgba(167, 205, 204, 0.5);
  color: #555555;
}

#linkedin,
#github,
#resume,
#myEmail {
  color: #555555;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

#linkedin:hover,
#github:hover,
#resume:hover,
#myEmail:hover {
  text-decoration: underline;
}

#linkedin:active,
#github:active,
#resume:active,
#myEmail:active {
  color: black;
}

#linkedin:visited,
#github:visited,
#resume:visited,
#email:visited {
  color: #555555;
}
