#contact-row {
  margin-top: 100px;
  width: 75%;
}


#linkedin,
#github,
#resume,
#myEmail {
  color: #555555;
  text-decoration: none;
  text-transform: uppercase;
}

#linkedin:hover,
#github:hover,
#resume:hover,
#myEmail:hover {
  text-decoration: underline;
}

#linkedin:active,
#github:active,
#resume:active,
#myEmail:active {
  color: black;
}

#linkedin:visited,
#github:visited,
#resume:visited,
#email:visited {
  color: #555555;
}
