#nav-bar {
  margin-top: 15px;
  background-color: #999999;
}

.is-horizontal-center {
  justify-content: center;
}

#logo {
  position: absolute;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
  background-color: #999999;
}

#label:hover {
  background-color: #a7cdcc;
}

#navbar-item1, #navbar-item2 {
  color: #555555;
  text-decoration: none;
}

#navbar-item1:hover, #navbar-item2:hover {
  text-decoration: underline;
  background-color: #a7cdcc;
}

#navbar-item1:active, #navbar-item2:active {
  color: black;
}

#navbar-item1:visited, #navbar-item2:visited {
  color: #555555;
}
