#nav-bar {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-bottom: 2px solid #a7cdcc;
  position: sticky;
}

#label:hover {
  background-color: #a7cdcc;
}

#nav-link1, #nav-link2 {
  color: #a7cdcc;
  text-decoration: none;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

#nav-link1:hover, #nav-link2:hover {
  text-decoration: underline;
  background-color: #555555;
}

#nav-link1:active, #nav-link2:active {
  color: black;
}

#nav-link1:visited, #nav-link2:visited {
  color: #a7cdcc;
}
